<td class="active">
  <% model.find_taxi(row, col).each do |taxi| %>
    <%= render "taxi", taxi: taxi %>
  <% end %>
  <% model.find_waiting_passenger(row, col).each do |passenger| %>
    <%= render "passenger", passenger: passenger %>
  <% end %>
</td>
