<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cidade de Taxis - <%= yield(:title) %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Todos os Mapas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Map.all.each do |map| %>
            <li> <%= link_to map.name, map_path(map) %></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <%= yield(:navbar) %>
    </div>
  </div>
</nav>
